<div ng-init="init()" cg-busy="{promise:promise,message:message}">
    <div id="page-title">
        <h4 class="page-header text-overflow ng-binding">{{nombreEmpresa}} <span ng-show="idSucursal != null" class="ng-binding ng-hide">/ {{nombreSucursal}}  </span><span ng-show="idDepartamento != null" class="ng-binding ng-hide">/ {{empleado}} </span> </h4>
    </div>

    <!-- Panel para combo box filtros de empresa, sucursal y departamento  -->
    <div class="panel">
        <div class="panel-body demo-nifty-btn">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group mar-btm col-sm-6">
                        <input type="text" placeholder="ingresa Id Cliente" class="form-control" ng-model="idCliente">
                        <span class="input-group-btn">
				    <button class="btn btn-mint" type="button" ng-click="selectIdCliente(idCliente)">Seleccionar</button>
                </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group mar-btm col-sm-10">
                        <input type="text" placeholder="Nombre Cliente" class="form-control" ng-model="idCliente">
                        <span class="input-group-btn">
				    <button class="btn btn-mint" type="button" ng-click="selectIdCliente(idCliente)">Seleccionar</button>
                </span>
                    </div>
                </div>
            </div>
            <!--div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="pOrder.nOrder">Busqueda</label>
                <input ng-change="changeFilter()" ng-model="filterText" class="form-control" id="pOrder.nOrder">
                <i class=""></i>
              </div>
            </div>
            <div class="col-sm-4 hidden-xs">
              <div class="form-group">
                <label for="pOrder.nOrder">Empresa </label>
                <select ng-model="company" class="form-control" ng-change="changeCompany(company)" ng-options="empresa.emp_nombre for empresa in empresas track by empresa.emp_idempresa ">
                </select>
              </div>
            </div>
            <div class="col-sm-4 hidden-xs">
              <div class="form-group">
                <label for="pOrder.nOrder">Sucursal</label>
                <select ng-disabled="!branchSelectVisible" ng-model="branch" class="form-control" ng-change="changeBranch(branch)" ng-options="sucursal.suc_nombre for sucursal in sucursales track by sucursal.suc_idsucursal">
                </select>
              </div>
            </div>
          </div-->

            <!-- INICIO CAMBIO
            <div ng-show="idClientes != null">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-info btn-active-dark dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">Seleccionar Empresa
                  <i class="dropdown-caret"></i>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="empresa in empresas"><a href="#" ng-click="seletionCompany(empresa.emp_idempresa,empresa.emp_nombre)" class="ng-binding">{{empresa.emp_nombre}}</a></li>
                </ul>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-primary btn-active-mint dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">
                    Seleccionar Sucursal <i class="dropdown-caret"></i>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="sucursal in sucursales"><a href="#" ng-click="seletionBranchoOffice(sucursal.suc_idsucursal,sucursal.suc_nombre)" class="ng-binding">{{sucursal.suc_nombre}}</a></li>
                </ul>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-mint btn-active-purple dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">
                    Seleccionar Departamento <i class="dropdown-caret"></i>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="departamento in departamentos"><a href="#" ng-click="selectDepartment(departamento.dep_iddepartamento,departamento.dep_nombre)" class="ng-binding">{{departamento.dep_nombre}}</a></li>
                </ul>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-success btn-active-purple dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">
                    Tipo Documento <i class="dropdown-caret"></i>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="documento in tipoDocumentos" class="ng-scope"><a href="#" class="ng-binding">{{documento.nombreDocumento}}</a></li>
                </ul>
            </div>
            </div-->
            <div class="pad-ver mar-btm bord-top">
                <!--Justified Button Group-->
                <!--===================================================-->
                <div class="btn-group btn-group-justified">
                    <a href="/" class="btn btn-lg btn-default">
                        <br>Facturas</a>
                    <a href="referencefactura" class="btn btn-lg btn-default">
                        <br>Pedidos</a>
                    <a href="" class="btn btn-lg btn-default">
                        <br>Cotizaciones</a>
                </div>
                <!--===================================================-->
            </div>
            <h2>Facturas</h2>
            <br>
            <div class="row">
                <!--div class="col-sm-4">
              <div class="form-group">
                <label for="pOrder.nOrder">Busqueda</label>
                <input ng-change="changeFilter()" ng-model="filterText" class="form-control" id="pOrder.nOrder">
                <i class=""></i>
              </div>
            </div-->
                <div class="col-sm-4 hidden-xs">
                    <div class="form-group">
                        <label for="pOrder.nOrder">Empresa </label>
                        <select ng-model="company" class="form-control" ng-change="changeCompany(company)" ng-options="empresa.emp_nombre for empresa in empresas track by empresa.emp_idempresa ">
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <div class="form-group">
                        <label for="pOrder.nOrder">Sucursal</label>
                        <select ng-disabled="!branchSelectVisible" ng-model="branch" class="form-control" ng-change="changeBranch(branch)" ng-options="sucursal.suc_nombre for sucursal in sucursales track by sucursal.suc_idsucursal">
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <div class="form-group">
                        <label for="pOrder.nOrder">Departamento</label>
                        <select ng-disabled="!branchSelectVisible" ng-model="branch" class="form-control" ng-change="changeBranch(branch)" ng-options="sucursal.suc_nombre for sucursal in sucursales track by sucursal.suc_idsucursal">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- termina panel de combo box de filtros  -->

    <!-- Panel para combobox filtro por tipo documento -->
    <div class="panel" ng-show="getCompany.show ">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Facturas</h3>
            </div>
            <div class="panel-body">
                <table id="facturasReferencia" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Tipo Documento</th>
                            <th>Numero Documento</th>
                            <th>Sucursal</th>
                            <th>Departamento</th>
                            <th>Nombre Cliente</th>
                            <th>Importe</th>
                            <th>Saldo</th>
                            <th>FechaDocumento</th>
                            <th>Referencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="factura in facturas">
                            <td>
                                {{factura.tipoDocumento}}
                            </td>
                            <td>
                                {{factura.idDocumento}}
                            </td>
                            <td>
                                {{factura.sucursal }}
                            </td>
                            <td>
                                {{factura.departamento }}
                            </td>
                            <td>
                                {{idClientes }}
                            </td>
                            <td>
                                {{factura.importe | currency}}
                            </td>
                            <td>
                                {{factura.saldo | currency}}
                            </td>
                            <td>
                                {{factura.fechaVencimiento | date:"dd/MM/yyyy"}}
                            </td>
                            <td>
                                {{referencias}}
                            </td>
                            <td>
                                <button class="btn btn-default btn-icon btn-circle" style="margin-left:10%;" data-toggle="modal" data-target="#demo-default-modal" ng-click="generateReference(factura.serie,factura.idDocumento,factura.departamento)"><i class="demo-pli-monitor-2 icon-lg"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- termina panel tipo de documento -->

    <!-- Inicio panel de Form -->
    <div class="panel ng-hide" ng-show="selectTypeDoc.show">
        <div class="panel-heading">
            <h3 class="panel-title ng-binding">Captura de Datos </h3>
        </div>

        <!--Block Styled Form -->
        <!--===================================================-->

        <div class="panel-body">
            <form ng-show="idDocumento == 1" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength ng-hide">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="form-group">
                            <label class="control-label">Serie</label>
                            <input type="text" ng-model="facturaSerie" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" placeholder="ej.AAA" maxlength="3" pattern="[A-Z]{1,3}" required="">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Numero Folio</label>
                            <div class="input-group mar-btm">
                                <input type="text" ng-model="facturaFolio" placeholder="ej.123456" class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength" maxlength="6">
                                <span class="input-group-btn">
					               <button class="btn btn-warning" type="submit" ng-click="generateReference(facturaSerie,facturaFolio)">Generar Referencia</button>
					           </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form ng-show="idDocumento == 2" class="ng-pristine ng-valid ng-valid-pattern ng-valid-maxlength ng-hide">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Folio Cotización</label>
                            <div class="input-group mar-btm">
                                <input type="text" ng-model="cotizacionFolio" placeholder="ej.A12345F12" class="form-control ng-pristine ng-untouched ng-valid ng-valid-pattern ng-valid-maxlength" maxlength="9" pattern="[A-Z0-9]{9}">
                                <span class="input-group-btn">
					               <button class="btn btn-warning" type="submit">Generar Referencia</button>
					           </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form ng-show="idDocumento == 3" class="ng-pristine ng-valid ng-valid-pattern ng-hide">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Folio Pedido</label>
                            <div class="input-group mar-btm">
                                <input type="text" ng-model="pedidoFolio" placeholder="ej.A12345F12" class="form-control ng-pristine ng-untouched ng-valid ng-valid-pattern" pattern="{^[A-Z0-9]{9}$">
                                <span class="input-group-btn">
					               <button class="btn btn-warning" type="submit">Generar Referencia</button>
					           </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form ng-show="selectTypeDoc.show" class="ng-pristine ng-valid ng-hide">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Referencia</label>
                            <div class="input-group mar-btm">
                                <input type="text" placeholder="" class="form-control" disabled="" ng-model="referencia">
                                <span class="input-group-btn">
					               <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#demo-default-modal">Imprimir</button>
					           </span>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <!--===================================================-->
        <!--End Block Styled Form -->
    </div>
    <!-- Termina panel de Form -->
</div>


<div class="modal fade" id="demo-default-modal" tabindex="-1" role="dialog" aria-labelledby="payInvoceModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button->
                <h1 class="pull-right">{{invoce.importe |currency}}</h1>
                <!--h3>Pagar antes de: {{invoce.fechaVencimiento | date:"dd/MM/yyyy" }} </h3- ->
            </div-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">Factura {{facturaSerie}}{{facturaFolio}} </h4>
                <h5>Pagar antes de: {{invoce.fechaVencimiento | date:"dd/MM/yyyy" }} </h5>
            </div>
            <div class="modal-body">
                <div ng-show="content">
                    <form name="pendingInvoceModalForm" method="post">
                        <!--span class="badge pull-right">{{invoce.estatus}}</span-->
                        <div class="row">
                            <div class="col-xs-6">
                                <p>
                                    <b>Departamento</b>
                                </p>
                                <p>
                                    {{departamentoss}}
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="row">

                            <div class="col-xs-6">
                                <p>
                                    <b>Fecha de emision</b>
                                </p>
                                <p>
                                    {{fechaHoy | date:"dd/MM/yyyy" }}
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <p>
                                    <b>Referencia</b>
                                </p>
                                <p>
                                    {{referencia}}
                                </p>
                            </div>
                        </div>
                        <hr>
                        <button class="btn btn-primary" ng-click="generarPdf(idBanco)">Imprimir</button>
                        <div ng-show="payMethod">
                            <hr>
                            <h3>Selecciona banco para pagar</h3>

                            <div class="cc-selector">

                                <div ng-show="bank.disponible == 3 || payMethod == 1 && bank.disponible ==2 || payMethod == 2 && bank.disponible ==1 " ng-repeat="bank in banks">
                                    <a ng-click="payInvoce(invoce.folio,bank.idBanco,invoce.idEmpresa)" class="bank-cc {{bank.nombre | lowercase}}"></a>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div style="height:530px" id="pdfReferenceContent" ng-show="!content">

                </div>
            </div>
        </div>
    </div>
</div>